@charset "utf-8";
/*
Main stylesheet
*/

html {
  font-family: open_sansregular, Arial, Helvetica, sans-serif;
}

body {
  background-color: #EFEFF0;
  margin: auto;
  width: 100%;
}

header {
  height: 110px;
  margin: auto;
  width: 100%;
  background-color: #D5CAD6;
  border-bottom: 3px solid #EFEFF0;
}

.button a {
  position: relative;
  margin: 0px 30px 0px 10px;
  font-size: 1.5em;
  top: 32px;
  float: right;
  box-shadow: 0px 3px #A0949C, 0px 2px 6px black;
  padding: 10px;
  background: #6B5E62;
  text-decoration: none;
  color: #EFEFF0;
  border-radius: 10px;
}

.button a:hover {
  top: 35px;
  box-shadow: 0px 0px 3px black;
}

#home {
  position: relative;
  float: left;
  left: 50px;
}

section {
  display: flex;
  position: relative;
  margin: auto;
  width: 50%;
  justify-content: center;
  height: auto;
}

div.space {
  height: 100px;
}

#namecontainer {
  padding: 50px;
  background-color: #6B5E62;
  border-radius: 20px;
}

#pierson, #courtois {
  display: flex;
  position: relative;
  justify-content: center;
  width: 50%;
  margin: auto;
  line-height: 150px;
  position: relative;
  word-break: keep-all;
  color: #EFEFF0;
  font-size: 9.5em;
}

#courtois {
  width: 100%;
  border-top: 2px solid white;
  padding-top: 10px;
}

.custom-shape-divider-top-1670681439 {
  position: absolute;
  background-color: #A0949C;
  top: 110px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1670682038 {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1670682038 svg {
  position: relative;
  display: block;
  width: calc(206% + 1.3px);
  height: 172px;
}

.custom-shape-divider-top-1670682038 .shape-fill {
  fill: #A0949C;
}

#links {
  display: inline-flex;
  justify-content: space-around;
  margin-left: 40%;
  width: 20%;
  height: 150px;
}


#hometext {
  padding: 20px;
  word-break: keep-all;
  text-align: center;
  line-height: 30px;
  font-style: italic;
  height: 120px;
  width: 75%;
  color: #6B5E62;
  font-size: 2em;
}

.link {
  position: relative;
  background-color: white;
  box-shadow: 0px 2px 6px black;
  border-radius: 50%;
  background: transparent;
  top: 10px;
  margin-bottom: 10px;
}

.link:hover {
  box-shadow: 0px 0px 3px black;
  top: 15px;
}

.home_div {
  margin: auto;
  display: flex;
  width: 100%;
  color: #6B5E62;
  background-color: #EAFFFD;
  height: auto;
  padding: 2% 0px;
}

.home_left {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 40%;
  float: left;
}

.home_right {
  display: flex;
  flex-direction: column;
  width: 60%;
  float: right;
}

.home_div h1 {
  display: flex;
  font-size: 2.5em;
  padding-left: 15%;
  line-height: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 0%;
}

.home_div p {
  margin: auto;
  padding-top: 10px;
  padding-left: 15%;
  font-size: 1.7em;
  line-height: 40px;
  text-align: center;
}

.home_div img {
  border-radius: 10px;
  margin: auto;
  width: 70%;
}

#fix {
  padding-top: 50px;
}

#second_home {
  background-color: #DAF8FE;
  border-radius: 48% 52% 48% 52% / 100% 100% 0% 0%;

}

#background {
  background-color: #EAFFFD;
}

.highlight a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px #1700AB;
}

.highlight a:hover {
  bottom: 3px;
  left: 3px;
  animation-name: button;
  animation-duration: .15s;
  font-weight: normal;
  color: #D5CAD6;
  text-shadow: 0px 0px 6px black;
}

footer {
  padding: 10px;
  border-top: 2px solid #EFEFF0;
  background-color:#D5CAD6;
}

footer p {
  margin: auto;
  text-align: center;
}

@keyframes button {
  from {color: white; bottom: 0px; left: 0px;}
  to {color:#D5CAD6; bottom: 3px; left: 3px;}
}

#about-container {
  margin: auto;
  width: 80%;
  height: 500px;
  background-color: #E2DDE3;
}

#linkedin {
  position: relative;
  float: right;
  bottom: 200px;
  width: 25%;
  border-radius: 10px;
}

#about-container h1 {
  text-align: center;
  font-size: 2em;
  padding: 30px;
}

#about-text {
  font-size: 16px;
  line-height: 20px;
}

#about-info {
  width: 60%;
  padding: 20px;
  clear: left;
}

#resume {
  position: relative;
  left: 400px;
  font-weight: bold;
  top: 50px;
  text-decoration: none;
  color: black;
  background-color: #BBAFB9;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 3px 2px black;
}

#resume:hover {
  animation-name: button2;
  animation-duration: .3s;
  top: 47px;
  background-color:#D5CAD6;
  left: 403px;
}

@keyframes button2 {
  from {background-color: #BBAFB9; top: 50px; left: 400px;}
  to {background-color:#D5CAD6; top: 47px; left: 403px;}
}